<main
  class="hero-detail"
  [style.background-image]="'url(' + movieBackground + ')'"
>
  <app-outline-button class="hero-detail__trailer-play" [icon]="'play_circle'" (handleClickEmitter)="hadleOpenModal()" />
  <div class="movie-detail">
    <h3 class="title color-title">
      {{ movieDetail?.title }} ({{ movieDetail?.release_date | date : "yyyy" }})
    </h3>
    <div class="detail-container">
      <div class="detail-container__poster">
        <div class="detail-container__poster__image">
          <img [src]="movieImage" alt="poster" />
        </div>
        <app-primary-button
          [isSecondary]="true"
          [icon]="'add'"
          [text]="'Add To List'"
        ></app-primary-button>
      </div>
      <div class="detail-container__details">
        <h3 class="detail-container__title title color-title">
          {{ movieDetail?.title }}
        </h3>
        <h4 class="subtitle color-title" *ngIf="movieDetail?.tagline">
          {{ movieDetail?.tagline }}
        </h4>
        <section class="detail-container__rating-container color-title">
          <app-start-rating [starCount]="rating!" />
          <span *ngIf="publicClasification">{{ publicClasification }}</span>
          <span *ngIf="movieDetail?.runtime!"
            >| {{ movieDetail?.runtime! | minutesToHoursAndMinutes }} |</span
          >
          <span *ngIf="!!movieDetail?.genres?.length"
            >{{ movieDetail?.genres || [] | formatGenders }}.</span
          >
        </section>
        <section class="detail-container__details-section">
          <div>
            <h3 class="title color-title">Details</h3>
            @for (item of movieDetailsDataSection; track $index) {
            <div class="details-section__detail-info">
              <div>
                <span class="color-title">{{ item.label }}:</span>
                <span class="color-title">{{ item.value }}</span>
              </div>
            </div>
            }
          </div>
          <div *ngIf="!!profileCast.length">
            <h3 class="title color-title">Cast</h3>
            <div class="detail-container__cast-section">
              <app-cast-profile
                [image]="cast.profile_path"
                [text]="cast.name"
                *ngFor="let cast of profileCast.slice(0, 4)"
              />
              <app-outline-button class="detail-container__show-more-button"  [text]="'Show More'" [icon]="'add_circle'" (handleClickEmitter)="showCastModal()" />
            </div>
          </div>
        </section>
      </div>
      <div class="detail-container__overview">
        <h3 class="title color-title">Story Line</h3>
        <p class="detail-container__overview-paragraph">
          {{ movieDetail?.overview }}
        </p>
      </div>
    </div>
  </div>
  <!-- <div style="height: 700px; width: 100%;"></div> -->
</main>
